<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grids & Circle</title>
</head>
<body>
<div>
    <h2>Grids & Circle</h2>
    <form action="/order/check" method="POST" th:object="${emailForm}">
        <label for="email">email:</label>
        <input type="email" id="email" name="email" th:field="*{email}" required>
        <button type="submit">입력</button>
    </form>
    <div th:if="${#fields.hasErrors('email')}" style="color: red; margin-top: 10px;">
        <p th:errors="*{email}"></p>
    </div>
    <div th:if="${error}" style="margin-top: 20px;">
        <p>앗, 주문 내역이 없어요!</p>
        <p>이메일 주소를 확인해주세요</p>
    </div>
</div>
</body>
</html>
